.main-navigation {
	display: none;
	@media screen and (min-width: $tabwidth) {
		display: block;	
		margin-top: 30px;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	ul > li {
		display: inline-block;
		position: relative;
		float: left;
	}

	a {
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		font-weight: 300;
		@include transition(all ease-out .3s);
	}
	.menu a {
		&:hover {
			color: $color-yellow;
		}
	}
}
.main-menu-container {
	@media screen and (min-width: $tabwidth) {
		display: inline-block;
		float: right;
	}
	.menu,.user-navi {
		display: inline-block;
		width: auto;
		float: left;
	}
	a {
		padding: 3px 8px;
		font-size: 14px;
	}
	.menu > li:hover > a,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color-yellow;
	}
}
.user-navi {
	border: 1px solid #FFF;
	margin-left: 10px;
	a {
		color: $color-teal;
		&:hover {
			color: $color-yellow;
		}
	}
}
.secondary-menu-container {
	margin-top: 8px;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		float: left;
	}
	.menu {
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: right;
		}
	}
	a {
		padding: 5px 10px;
		font-size: 15px;
		text-transform: uppercase;
	}
}

.mobile-navigation {
	display: block;
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}